<a href="https://colab.research.google.com/github/dhairyaostwal/CSE4020-Codes/blob/main/ID3_Manipulated_Cancer_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing required Libraries

In [41]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder # for encoding string labels

In [42]:
dataset=pd.read_csv('cancer-data-manipulated - cancer-data.csv')
print("The dataset is ")
dataset

The dataset is

   avg_cyt_re  avg_cyt_gr  avg_cyt_bl Diagnosis
0  130.713275  123.667915  145.271328         M
1  115.975610   67.243902  140.126016         B
2  135.955693  129.935312  144.863093         M
3  131.139544  122.655338  143.148741         M
4  150.808105  142.667461  176.097735         M
5  130.945142   91.728024  147.307336         B
6   90.649587   58.960331   96.546006         B
7  132.686975  126.090336  151.857143         M
8  143.154220  131.805585  163.624921         M
9  126.637787  112.096381  143.146486         B

## Loading Data

In [45]:
data = pd.read_csv('cancer-data-manipulated - cancer-data.csv')
print("Data is ")
print(data)

Data is
   avg_cyt_re  avg_cyt_gr  avg_cyt_bl Diagnosis
0  130.713275  123.667915  145.271328         M
1  115.975610   67.243902  140.126016         B
2  135.955693  129.935312  144.863093         M
3  131.139544  122.655338  143.148741         M
4  150.808105  142.667461  176.097735         M
5  130.945142   91.728024  147.307336         B
6   90.649587   58.960331   96.546006         B
7  132.686975  126.090336  151.857143         M
8  143.154220  131.805585  163.624921         M
9  126.637787  112.096381  143.146486         B

## X - Values

In [47]:
features = [feat for feat in data]
features.remove("Diagnosis")

features

['avg_cyt_re', 'avg_cyt_gr', 'avg_cyt_bl']

In [48]:
X = data[features]
print(X)

   avg_cyt_re  avg_cyt_gr  avg_cyt_bl
0  130.713275  123.667915  145.271328
1  115.975610   67.243902  140.126016
2  135.955693  129.935312  144.863093
3  131.139544  122.655338  143.148741
4  150.808105  142.667461  176.097735
5  130.945142   91.728024  147.307336
6   90.649587   58.960331   96.546006
7  132.686975  126.090336  151.857143
8  143.154220  131.805585  163.624921
9  126.637787  112.096381  143.146486

## Y - Values

In [49]:
y = data['Diagnosis']
print("The value of Y is")
print(y)

The value of Y is
0    M
1    B
2    M
3    M
4    M
5    B
6    B
7    M
8    M
9    B
Name: Diagnosis, dtype: object

## Splitting data for training and testing

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

## Creating object for model

In [51]:
from sklearn.tree import DecisionTreeClassifier

classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0) 
classifier.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

## Predicting Values

In [52]:
print("Predicted values by model")
print(classifier.predict(X_test))
print("Y-Test values")
print(y_test.values)

Predicted values by model
['M' 'M' 'M']
Y-Test values
['M' 'M' 'M']

In [53]:
y_pred = classifier.predict(X_test)

In [54]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[3]])

In [55]:
print("The score of model is")
print(classifier.score(X_test,y_test))

The score of model is
1.0