<a href="https://colab.research.google.com/github/dhairyaostwal/CSE4020-Codes/blob/main/ID3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing required Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder # for encoding string labels

In [2]:
dataset=pd.read_csv('cancer-data.csv')
print("The dataset is ")
dataset

The dataset is

   Id  WBC_area  WBC_convex_area  ...  axismeanratio  Diagnosis  Unnamed: 24
0   1     10073            10170  ...       1.718868          M          NaN
1   2       450              450  ...       1.586649          B          NaN
2   3     10349            10506  ...       1.728577          M          NaN
3   4     10827            10862  ...       1.721235          M          NaN
4   5      3421             3470  ...       1.769519          M          NaN
5   6      9994            10131  ...       1.710901          B          NaN
6   7      4497             4680  ...       1.774326          B          NaN
7   8      2614             2680  ...       1.819403          M          NaN
8   9     15374            15509  ...       1.670522          M          NaN
9  10     10429            10465  ...       1.678827          B          NaN

[10 rows x 25 columns]

## Loading Data

In [3]:
data = pd.read_csv('cancer-data.csv')
print("Data is ")
print(data)

Data is
   Id  WBC_area  WBC_convex_area  ...  axismeanratio  Diagnosis  Unnamed: 24
0   1     10073            10170  ...       1.718868          M          NaN
1   2       450              450  ...       1.586649          B          NaN
2   3     10349            10506  ...       1.728577          M          NaN
3   4     10827            10862  ...       1.721235          M          NaN
4   5      3421             3470  ...       1.769519          M          NaN
5   6      9994            10131  ...       1.710901          B          NaN
6   7      4497             4680  ...       1.774326          B          NaN
7   8      2614             2680  ...       1.819403          M          NaN
8   9     15374            15509  ...       1.670522          M          NaN
9  10     10429            10465  ...       1.678827          B          NaN

[10 rows x 25 columns]

## X - Values

In [16]:
features = [feat for feat in data]
features.remove("Id")
features.remove("Unnamed: 24")
features.remove("Diagnosis")

features

['WBC_area',
 'WBC_convex_area',
 'WBC_peri',
 'ecc_wbc',
 'solidity_wbc',
 'orient_wbc',
 'nuc_area',
 'nuc_ratio',
 'peri_nuc',
 'round_nuc',
 'ecc_nuc',
 'solidity_nuc',
 'convex_area_nuc',
 'avg_cyt_re',
 'avg_cyt_gr',
 'avg_cyt_bl',
 'entropy_cyt',
 'minoraxis',
 'majoraxis',
 'minoraxis_nuc',
 'majoraxis_nuc',
 'axismeanratio']

In [18]:
X = data[features]
print(X)

   WBC_area  WBC_convex_area  ...  majoraxis_nuc  axismeanratio
0     10073            10170  ...     108.957290       1.718868
1       450              450  ...      26.951812       1.586649
2     10349            10506  ...     102.755103       1.728577
3     10827            10862  ...     104.048451       1.721235
4      3421             3470  ...      85.638339       1.769519
5      9994            10131  ...     100.578608       1.710901
6      4497             4680  ...      69.182689       1.774326
7      2614             2680  ...      98.441245       1.819403
8     15374            15509  ...     140.060139       1.670522
9     10429            10465  ...     119.443817       1.678827

[10 rows x 22 columns]

## Y - Values

In [19]:
y = data['Diagnosis']
print("The value of Y is")
print(y)

The value of Y is
0    M
1    B
2    M
3    M
4    M
5    B
6    B
7    M
8    M
9    B
Name: Diagnosis, dtype: object

## Splitting data for training and testing

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

## Creating object for model

In [31]:
from sklearn.tree import DecisionTreeClassifier

classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0) 
classifier.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

## Predicting Values

In [36]:
print("Predicted values by model")
print(classifier.predict(X_test))
print("Y-Test values")
print(y_test.values)

Predicted values by model
['M' 'M' 'M']
Y-Test values
['M' 'M' 'M']

In [37]:
y_pred = classifier.predict(X_test)

In [38]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[3]])

In [40]:
print("The score of model is")
print(classifier.score(X_test,y_test))

The score of model is
1.0