<a href="https://colab.research.google.com/github/dhairyaostwal/CSE4020-Codes/blob/main/Logistic%20Regression/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Logistic Regression

In [1]:
import numpy as np 
import pandas as pd

In [3]:
dataset = pd.read_csv('cancer-data-manipulated - cancer-data.csv')

In [6]:
dataset

   avg_cyt_re  avg_cyt_gr  avg_cyt_bl Diagnosis
0  130.713275  123.667915  145.271328         M
1  115.975610   67.243902  140.126016         B
2  135.955693  129.935312  144.863093         M
3  131.139544  122.655338  143.148741         M
4  150.808105  142.667461  176.097735         M
5  130.945142   91.728024  147.307336         B
6   90.649587   58.960331   96.546006         B
7  132.686975  126.090336  151.857143         M
8  143.154220  131.805585  163.624921         M
9  126.637787  112.096381  143.146486         B

In [4]:
X = dataset.iloc[:, :-1].values

In [5]:
X

array([[130.713275 , 123.667915 , 145.271328 ],
       [115.97561  ,  67.2439024, 140.126016 ],
       [135.955693 , 129.935312 , 144.863093 ],
       [131.139544 , 122.655338 , 143.148741 ],
       [150.808105 , 142.667461 , 176.097735 ],
       [130.945142 ,  91.7280238, 147.307336 ],
       [ 90.6495868,  58.9603306,  96.5460055],
       [132.686975 , 126.090336 , 151.857143 ],
       [143.15422  , 131.805585 , 163.624921 ],
       [126.637787 , 112.096381 , 143.146486 ]])

In [7]:
y = dataset.iloc[:, -1].values

In [8]:
y

array(['M', 'B', 'M', 'M', 'M', 'B', 'B', 'M', 'M', 'B'], dtype=object)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 2)

In [10]:
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [12]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,intercept_scaling=1, l1_ratio=None, max_iter=100, multi_class='warn', n_jobs=None, penalty='l2', random_state=0, solver='warn', tol=0.0001, verbose=0, warm_start=False)

LogisticRegression(multi_class='warn', random_state=0, solver='warn')

In [13]:
from sklearn.metrics import confusion_matrix, accuracy_score 
y_pred = classifier.predict(X_test)

In [14]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1 1]
 [0 1]]

In [15]:
print("Accuracy Score: ", accuracy_score(y_test, y_pred))

Accuracy Score:  0.6666666666666666